# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

.idea

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.DS_Store

comi
comi.exe

compound-interest-app
compound-interest-app.exe

comi.darwin-amd64.tar.gz
macos-comi

comi.linux-amd64.tar.gz
linux-comi

comi.windows-amd64.tar.gz
windows-comi.exe